/* .App {
  font-family: sans-serif;
  text-align: center;
}

h1, p {
  font-family: Lato;
}

box: {
  height: 100,
  display: "flex",
  border: "1px solid black", 
  padding: 8
},
topLeftBox: {
  justifyContent: "flex-start",
  alignItems: "flex-start"
} */