body {
  font-family: "Roboto", "open sans", sans-serif;
}

.ReactTable {
  border: 0px solid rgba(0, 0, 0, 0.1) !important;
}

.ReactTable .rt-thead .rt-tr {
  background: #f7fafc !important;
}

.WeeklyMetricsHeatMap .rt-tbody {
  overflow: hidden !important;
}

.WeeklyMetricsHeatMap .rt-thead {
  min-width: 1990px !important;
}

.WeeklyMetricsHeatMap .rt-tbody {
  min-width: 1990px !important;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  align-self: flex-end;
  background: #f8fafc !important;
  padding: 10px 5px !important;
  font-size: 0.8rem !important;
  color: #000;
  border-right: 0px solid #f1f5f9 !important;
  border-top: 0px solid #f1f5f9 !important;
  border-bottom: 0px solid #f1f5f9 !important;
  font-weight: 500;
  font-family: "Roboto", "open sans", sans-serif;
  white-space: pre-line !important;
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
}

.heatmaptable .ReactTable .rt-tbody .rt-td {
  text-align: right;
  padding: 7px 5px !important;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 0px solid rgba(0, 0, 0, 0.02) !important;
  font-weight: 400;
  font-size: 0.8125rem !important;
  line-height: 1rem !important;
  font-family: "Roboto", "open sans", sans-serif;
  color: #000444;
  padding: 5px 5px;
  vertical-align: middle;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  color: #0a1a52;
}

.ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  border: none !important;
  background: #f1f5f9 !important;
  font-size: 0.75rem !important;
  padding: 2px 5px !important;
}

.ReactTable .-pagination .-btn {
  background: #f1f5f9 !important;
  font-size: 0.8rem !important;
}

.ReactTable .-pagination .-btn:hover {
  background: #dfeaf5 !important;
}

.ReactTable .-pagination .-pageInfo {
  font-size: 0.8rem !important;
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
  font-size: 0.8rem !important;
  padding: 0px 7px !important;
  background: #f1f5f9 !important;
  border: 0px solid #eee !important;
}

[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="month"]:focus,
[type="time"]:focus,
[type="week"]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: transparent !important;
  --tw-ring-shadow: transparent !important;
}

.metrics-select-react__control {
  height: 50px;
}

.code-A {
  background-color: rgb(255, 183, 49) !important;
  margin-right: 1px;
}

.code-G {
  background-color: rgb(0, 170, 0) !important;
  margin-right: 1px;
}

.code-R {
  background-color: red !important;
  margin-right: 1px;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  overflow: hidden;
  white-space: pre-line !important;
  word-wrap: break-word;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-tagsinput-tag {
  background-color: #fff !important;
  border: 0px solid #1d4ed8 !important;
  color: #000 !important;
  border-radius: 2px !important;
  padding: 3px 5px !important;
  margin: 2px !important;
  font-size: 0.8rem !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
}

/* .tagsinput {
  background: #fff !important;
  border: 1px solid #eee !important;
  padding: 5px !important;
  border-radius: 0.375rem;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgba(228, 228, 231, var(--tw-border-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
} */
.react-tagsinput-input {
  margin-bottom: 0px !important;
  padding: 0px 5px !important;
}

.projectname {
  background-color: #f8faff;
  font-weight: 500 !important;
}

.loader {
  border-top-color: #1c4ed7;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

div#loaderbtn {
  position: fixed;
  left: 43%;
  top: 47%;
  z-index: 1;
}

div#loadermetrics {
  position: fixed;
  left: 43%;
  top: 47%;
  z-index: 1;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.viewtable .rt-td {
  text-align: right;
}

/* .viewweeklyclass .rt-thead {
  min-width: 1990px !important;
}
.viewweeklyclass .rt-tbody {
  min-width: 1990px !important;
} */
.flatpickr-wrapper {
  width: 100%;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  border-radius: 5px;
  right: 1px;
  margin-top: 22px;
  /*Positionthetooltiptext-seeexamplesbelow!*/
  position: absolute;
  z-index: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.optionsbtn:hover .tooltiptext {
  visibility: visible;
}

.flatpickr-calendar {
  margin-left: 200px !important;
  top: -150px !important;
}

.react-datepicker__input-container input {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: .875rem;
  cursor: pointer;
  width: 100%;
}

.react-datepicker__month-text {
  padding: 7px;
  width: 4.5rem;
}

.react-datepicker__month-text:hover {
  background-color: #dbeafe !important;
  color: #000 !important;
}

.react-datepicker__month-text--keyboard-selected {
  background-color: #2563eb !important;
}

.react-datepicker__quarter-text {
  padding: 7px;
  width: 4.5rem;
}

.react-datepicker__quarter-text:hover {
  background-color: #dbeafe !important;
  color: #000 !important;
}

.react-datepicker__quarter--selected {
  background-color: #2563eb !important;
}

.react-datepicker__day:hover {
  background-color: #dbeafe !important;
  color: #000 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #2563eb !important;
}

.react-datepicker__header {
  background-color: #1e40af !important;
  color: #fff !important;
  padding: 6px !important;
}

.react-datepicker_week:hover .react-datepicker_day {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: white;
  font-weight: bold;
  background: red
}

.react-datepicker__current-month {
  color: #fff !important;
}

.react-datepicker__day-names .react-datepicker__day-name {
  color: #fff !important;
}