@tailwind base;

@tailwind components;

@tailwind utilities;

/* @import "~tailwindcss/base"; 
@import "~tailwindcss/components";
@import "~tailwindcss/utilities"; */
@layer components {
  .default-btn {
    @apply py-2 px-4 ml-1 capitalize inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out border font-normal last:mr-0 mr-1 text-white bg-blue-700 border-blue-700 hover:bg-blue-800 hover:border-blue-900 text-xs shadow hover:shadow-lg rounded;
  }

  .default-btn-arrows {
    @apply py-1 px-1 inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out border font-normal last:mr-0 mr-1 text-white bg-blue-700 border-blue-700 hover:bg-blue-800 hover:border-blue-900 text-xs shadow hover:shadow-lg rounded;
  }

  .default-btn-cancel {
    @apply py-2 px-4 ml-1 capitalize inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out border font-normal last:mr-0 mr-1 text-white bg-red-500 border-red-500 active:bg-red-500 active:border-red-500 text-xs shadow hover:shadow-lg rounded;
  }

  .default-btn-sm {
    @apply py-1 px-2 ml-2 capitalize inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out border font-normal last:mr-0 mr-1 text-white bg-blue-700 border-blue-700 hover:bg-blue-800 hover:border-blue-900 text-xs shadow hover:shadow-lg rounded;
  }

  .metrics-label {
    @apply text-xs font-medium;
  }

  .metrics-input {
    @apply flex items-center h-10 border border-gray-200 text-gray-600 bg-blueGray-50 rounded px-4 w-full text-sm focus:border-2;
  }

  .metrics-input-addmodules {
    @apply w-full m-1 mr-3 p-2 bg-white text-xs focus:bg-gray-100 focus:border-gray-100 block border-gray-100 text-trueGray-900;
  }

  .metrics-input-notes {
    @apply w-full m-1 mr-3 p-2 bg-white text-xs focus:bg-gray-100 focus:border-gray-100 block border-b border-gray-100 text-trueGray-900;
  }

  .m-heading {
    @apply text-blueGray-700 text-lg font-bold;
  }

  .tagsinput {
    @apply m-1 p-1 bg-blueGray-200 text-xs block;
  }
}